.container{
    box-sizing: border-box;
    margin:0;
   
   
    
}
body{
   background-image: url("background.png");
   background-size: cover;
   font-size: 80px;
}
.play{
   height:320px;
   width:230px;
}

.nav{
   text-decoration: none;
    /* float: right;  */
   /* height:40px; */
   display: flex;
   flex-direction: row;
margin-left: 60%;   padding-top: 15px; 
   padding-right: 10px; 
}
nav a{
    
    font-size: 120px;
    text-decoration: none;
    padding-top: 35px;
    padding:30px 35px ;
 } 
 .content{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    margin-top: 20%;
    
    /* gap:30px; */
    font-weight: 30px;

 }
 .left{
    color:red;
    text-align: center;
    margin-right:380px;
    font-size: 100px;
    margin-left: 40%;
 }
 .right{
   
    display:flex;
    justify-content: center;
    margin-right:550px;

    
 }
 .right i{
    font-size: 50px;
 }

